body {
    color: white;
    background-color: rgb(37, 30, 19);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.conA1 {
    text-align: center;
    margin-top: 10%;
}

.hello {
    color: #E6B325;
    font-size: 20px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.name {
    font-size: 60px;
    font-weight:900;
    margin-top: 1%;
}  

.detail {
    font-size: 15px;
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fac32b;
}

.conA2 {
    text-align: center;
    margin-top: 5%;
    width: 80%;
    margin: 10%;
    background-color: #503b17;
    padding: 15px 15px;
    border-radius: 30px;
}

.conB, .conC{
    text-align: center;
    width: 80%;
    margin: 10%;
    background-color: #503b17;
    padding: 15px 15px;
    border-radius: 30px;
}

.lead {
    font-weight: bold;
    font-size: 24px;
    margin-top: 2%;
}

nav {
    display: flex;
    width: 84%;
    margin-top: auto;
    margin-left: 25%;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    height: 100px;
    width: 190px;
    padding: 10px;
    background: #BF9742;;
    border-radius: 24px;
}

nav ul li a{
    text-decoration:underline;
    font-style: italic;
    color: #fff;
    font-size: 15px;

}