body {
    color: white;
    background-color: rgb(37, 30, 19);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
    margin: 2px;
    padding: 5px;
    list-style:none;
}

ul li{
    float: left;
    width: 25%;
    height: 40px;
    background-color: #503b17;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #E6B325;
    display: block;
}

ul li a:hover{
    background-color: #BF9742;
    color: #3b2a0c;
}

ul li ul li{
    display: none;
    width: 200px;
    height: 30px;
    line-height: 30px;
    color: #503b17;
    font-size: 12px;
}

ul li:hover ol li {
    display: block;
}

.info {
    text-align: center;
    margin-top: 15%;
}

.hello {
    color: #E6B325;
    font-size: 20px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.name {
    font-size: 60px;
    font-weight:900;
    margin-top: 1%;
}  

.detail {
    font-size: 15px;
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fac32b;
}

section {
    display: block;
}
